<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'includes/head.html' %}
</head>

<style>
    /* this block is a trivial config, will changed in future */
    .dev {
        height: 100vh;

    }

    .dev-border {
        border-radius: .5rem;
    }

    .dev-border-red {
        border: 1px solid red;
    }
</style>

<body>

    <div class="dev d-flex justify-content-center align-items-center bg-light">

        <div class="dev-border border border-primary shadow p-5 bg-white">

            <h1 class="h3 text-center mb-4">Sign in</h1>
            <form action="{{ url_for('auth_bp.login') }}" method="post" autocomplete="on">
                {{ form.hidden_tag() }}

                <!-- username -->
                {{ form.username.label }}
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                    {{ form.username(class="form-control", placeholder="Your user") }}
                </div>

                <!-- password -->
                {{ form.password.label }}
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                    {{ form.password(class="form-control", placeholder="Your password") }}
                </div>

                <!-- checkbox -->
                {{ form.checkbox(class="mb-4") }}
                <p class="d-inline ml-1">Remember me</p>

                <!-- submit -->
                {{ form.submit(class="d-block btn btn-primary mb-4", style="width: 100%;") }}

            </form>

            <p class="text-center">Not registered?<a href="{{ url_for('auth_bp.register') }}">Create account</a></p>

        </div>
    </div>

    {% include 'includes/scripts.html' %}

</body>

</html>