{% extends "base.html" %}

{% block content %}
<!-- <h1 class="display-4">{% block title %}Login{% endblock %}</h1> -->

<!-- {% block comment %}
{{ super() }}
{% endblock %} -->

<!-- <hr> -->
<form method="POST" action="{{url_for('auth.login')}}" autocomplete="on">
    {{ form.hidden_tag() }}
</form>


<div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
    <div class="text-center mb-4">
        <h1 class="h3">Sign in to our platform</h1>
    </div>


    <form action="#" class="mt-4">

        <!-- Form -->
        <div class="form-group mb-4">
            <label for="username"> Your User</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                {{ form.username(class="form-control", placeholder='user.name') }}
            </div>

            <label for="username"> Your Password</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-unlock"></i>
                    </div>
                </div>
                {{ form.password(class="form-control", placeholder='Password') }}
            </div>

            <!-- <div class="d-flex justify-content-between align-items-center">
                    {{ form.submit(class='btn btn-primary') }}
                    <div class="custom-control custom-checkbox">
                        {{ form.checkbox(class="custom-control-input") }}
                        {{ form.checkbox.label(class="custom-control-label small") }}
                    </div>
                </div> -->

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-top mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remember">
                        <label class="form-check-label mb-0 small" for="remember"> Remember me </label>
                    </div>
                    <div>
                        <a href="#" class="small text-right">Lost password?</a>
                    </div>
                </div>
            </div>


    </form>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <span class="fw-normal">
            Not registered?
            <a href="{{ url_for('auth.logout') }}" class="fw-bold">Create account</a>
        </span>
    </div>
</div>


{% endblock %}