<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        height: 100vh;
        width: 16rem;
        padding: 3rem;
        background-color: #111;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1
    }

    h3,
    hr,
    .sidenav a {
        display: block;
        font-size: 14pt;
        color: lightgray;
        text-decoration: none;
    }

    .sidenav i {
        margin-right: .5rem;
    }

    .sidenav a:hover {
        text-decoration: underline;
        color: lightblue;
    }

    div #Routers {
        margin: 1rem;

    }

    div #Routers a {
        font-size: 12pt;
    }
</style>

<aside class="sidebar">

    <h3>auto.clickip.local</h3>

    <hr>

    <div class="sidenav">
        <a href="/"><i class="fa fa-home"></i>Home</a>

        <a href="#Routers" data-bs-toggle="collapse" role="button">
            <i class="fa fa-server"></i>Router
        </a><!-- trigger -->

        <div class="collapse show" id="Routers">
            <a href="{{ url_for('int_summary_bp.interface_summary') }}">
                <i class="fa fa-gear"></i>Get Summary
            </a>

            <a href="{{ url_for('int_conf_bp.interface_configuration') }}">
                <i class="fa fa-user"></i>Interface Configuration
            </a>

        </div><!-- collapse -->
    </div><!-- sidenav -->
</aside>
