<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        height: 100vh;
        width: 20rem;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
        background-color: #111;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .sidebar .site-header {
        font-size: 18pt;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        h3 {
            margin: 1rem 0;
            font-size: 18pt;
        }

        &:hover {
            color: lightblue;
            text-decoration: underline;
        }

    }

    .fa-home,
    .fa-server {
        margin-bottom: .5rem;
    }

    h3,
    hr,
    .sidenav a {
        display: block;
        font-size: 14pt;
        color: lightgray;
        text-decoration: none;

        &:hover {
            color: lightblue;
            text-decoration: underline;
        }
    }

    .sidenav i {
        margin-right: .5rem;
    }

    #OLTs,
    #Routers {
        margin-left: .5rem;
    }

    #OLTs a,
    #Routers a {
        font-size: 12pt;
    }

    .sidebar .dropdown-container {
        margin-top: auto;
    }
</style>

<aside class="sidebar"><!-- sidebar -->

    <a href="/" class="site-header">
        <h3>auto.clickip.local</h3>
    </a>

    <hr>

    <div class="sidenav"><!-- sidenav -->
        <a href="/"><i class="fa fa-home"></i>Home</a>

        <a href="#" data-bs-toggle="collapse" role="button">
            <i class="fa fa-server"></i>Router
        </a><!-- toggle -->

        <div class="collapse show" id="Routers"><!-- collapse -->
            <a href="{{ url_for('int_summary_bp.interface_summary') }}">
                <i class="fa fa-gear"></i>Get Summary
            </a>
            <a href="{{ url_for('int_conf_bp.interface_configuration') }}">
                <i class="fa fa-gear"></i>Interface Configuration
            </a>
            <a href="{{ url_for('int_summary_bp.interface_summary') }}">
                <i class="fa fa-gear"></i>Interface Summary
            </a>
            <a href="{{ url_for('int_conf_bp.interface_configuration') }}">
                <i class="fa fa-gear"></i>Interface Configuration
            </a>
            <a href="{{ url_for('int_unit_bp.interface_unit') }}">
                <i class="fa fa-gear"></i>Config Interface Unit Vlan
            </a>
            <a href="{{ url_for('int_static_route_bp.set_static_route_page') }}">
                <i class="fa fa-gear"></i>Config Static Router
            </a>
            <a href="{{ url_for('int_dhcp_bp.set_access_address_assignment_page') }}">
                <i class="fa fa-gear"></i>Access Address Assignment
            </a>
            <a href="{{ url_for('bgp_manager_session_bp.bgp_manager_session') }}">
                <i class="fa fa-gear"></i>BGP Manager Session
            </a>
        </div><!-- collapse -->

        <a href="#" data-bs-toggle="collapse" role="button">
            <i class="fa fa-server"></i>OLTs
        </a><!-- toggle -->

        <div class="collapse show" id="OLTs"><!-- collapse -->
            <a href="{{ url_for('downstream_fec_bp.downstream_fec') }}">
                <i class="fa fa-gear"></i>Downstream-fec
            </a>
        </div><!-- collapse -->

    </div><!-- sidenav -->

    <div class="dropdown-container">
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown">
                <img src="https://github.com/joao.png" width="32" height="32" class="rounded-circle"
                    style="margin-right: .5rem;">
                <strong>{{ current_user.username }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li>
                    <a href="/admin" class="dropdown-item">
                        <i class="fa fa-user-cog"></i>&nbsp;Painel&nbsp;
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{ url_for('auth_bp.logout') }}" class="dropdown-item">
                        <i class="fa fa-sign-out-alt"></i>&nbsp;Sign out&nbsp;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>