<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'includes/head.html' %}
</head>

<style>
  .container {
    margin-left: 16rem;
    width: calc(100% - 16rem);
  }
</style>

<body>

  {% include 'includes/sidebar.html' %}

  <main class="container">

    <div class="rounded mt-3 shadow" style="padding: 3rem; border: 1px solid lightgrey;">

      {% include "includes/flash_messages.html" %}

      {% block content %}

      data

      {% block comment %}
      <p class="lead">
        Aplicação Flask para automatizar configurações de rede, integrando validação
        de endereços IPv4/IPv6, autenticação de usuários e registro de dispositivos,
        com suporte a Netmiko para execução de comandos SSH.
      </p>
      {% endblock comment %}

      {% endblock content %}

    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

  </main>

</body>

</html>