<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'includes/head.html' %}

  <style>
    .main {
      margin-left: 20rem;
      width: calc(100% - 20rem);
    }
  </style>

</head>

<body>

  {% include 'includes/sidebar.html' %}

  <main class="main container p-5">

    <div class="border border-3 rounded-3 shadow container p-5">

      {% include "includes/flash_messages.html" %}

      {% block content %}

      data

      {% block comment %}
      <p class="lead">
        Aplicação Flask para automatizar configurações de rede, integrando validação
        de endereços IPv4/IPv6, autenticação de usuários e registro de dispositivos,
        com suporte a Netmiko para execução de comandos SSH.
      </p>
      {% endblock comment %}

      {% endblock content %}

    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

  </main>

</body>

</html>